body {
  margin: 0;
}

#first-up {
  height: 15rem;
  width: 7px;
}

#traffic-lights-container {
  height: 34rem;
  width: 12rem;
  border-radius: 1rem;
}

.red-circle,
.yellow-circle,
.green-circle {
  height: 10rem;
  width: 10rem;
}

.red-circle {
  background-color: red;
}

.yellow-circle {
  background-color: yellow;
}

.green-circle {
  background-color: green;  
}

.highlight  {
  box-shadow: 0px 0px 20px 20px rgb(199, 195, 195);
}